repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        name: Check for valid YAML syntax in repo
        description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/check_yaml.py
      - id: detect-private-key
        name: Check for existence of private key in repo
        description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/detect_private_key.py
      - id: trailing-whitespace
        name: Remove trailing whitespace in YAML,Bash files
        description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/trailing_whitespace_fixer.py
        files: \.(sh|yaml|yml)$
      - id: end-of-file-fixer
        name: Ensure EOF is consistently only a newline
        description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/end_of_file_fixer.py
        files: \.(sh|yaml|yml)$
      - id: mixed-line-ending
        name: Ensure line-ending is consistent
        description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/mixed_line_ending.py
        files: \.(sh|yaml|yml)$
          #- id: check-executables-have-shebangs
          #  name: Checks that non-binary executables have a proper shebang
          #  description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/check_executables_have_shebangs.py
          #  files: \.(sh)$
          #- id: check-shebang-scripts-are-executable
          #  name: Checks that scripts with shebangs are executable.
          #  description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/check_shebang_scripts_are_executable.py
          #  files: \.(sh)$
          #- id: check-json
          #  name: Attempts to load all json files to verify syntax.
          #  description: https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/check_json.py
          #  files: \.(json)$

  #- repo: https://github.com/pocc/pre-commit-hooks
  #  rev: v1.3.5
  #  hooks:
  #    - id: clang-format
  #      args: [--style=file]
  #    - id: clang-tidy
  #      args: [--fix, --quiet]
  #    - id: include-what-you-use

  # lint Dockerfile
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args: ["--ignore", "DL3007", "--ignore", "DL3008", "--ignore", "DL4006", "--ignore", "SC2046", "--ignore", "SC1091"]

  # lint Makefile
  - repo: https://github.com/checkmake/checkmake/
    rev: v0.3.0
    hooks:
      - id: checkmake
        files: Makefile
        args: ["--config", "checkmake.ini"]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        args: ["-ignore", "SC2086"]

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
