name: CI

on:
  push:
    branches:
      - '*'

jobs:
  pre-commit:
    name: Run Pre-Commit Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set Up Dependencies
        run: sudo apt-get update && sudo apt-get install -y clang clang-tidy

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run Pre-Commit
        run: make pre-commit

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Run Tests
        run: make test

  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Build Project
        run: make build

      - name: Copy Built Project From Docker Image
        run: make copy

      - name: Archive Build Artifact
        run: tar -czvf build.tar.gz ./pebble-darkroom.pbw

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: built-package
          path: build.tar.gz
          retention-days: 7
